*{
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(122, 18, 18);
    /* font-size: 35px; */
}

.home{
    height: 650px;
    
    
    background-color: brown;
    background-position: center;
    background-size: cover;
}

#home{
    background-image: url(../img/menu.jpg);
}

#contact{
    background-image: url(../img/contact.jpg);
}

#about{
    background-image: url(../img/hotcoffee.jpg);
}

#order{
    background-image: url(../img/doughnut.jpg);
}

.home .content{
    background-color: rgba(105, 10, 10, 0.55);
    width: 100%;
    height: 100%;
    }

.home .content:hover{
    background-color: rgba(247, 247, 247, 0.55);
}

.home .content .container .row{
    padding-top: 65px;
    color: rgb(105, 10, 10);
    /* font-size: 2px; */
    
}

.home .content .container .row .col-md-6:hover{
    /* color: white; */
    /* background-color: black; */
    border: 2px dotted  rgb(105, 10, 10);
    border-radius: 15px;
}